

.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  /* ocupa o máximo possível */
  flex: 1;
}

.commentContent {
  background-color: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime strong {
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.buttonDelete {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  line-height: 0;
  border-radius: 2px;

  transition: color 0.3s;
}

.buttonDelete:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
} 

.commentBox footer {
  margin-top: 1rem;
}

.buttonAplaudir {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 2px;
}

.buttonAplaudir:hover {
  color: var(--green-300);
}

.buttonAplaudir svg {
  margin-right: 0.5rem;
}

.buttonAplaudir span::before {
  content: "\2022";
  padding: 0 0.25rem;
}